
<div class="footer">
    <footer>
        <div class="container-fluid">
            <div class="row footerTop">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 ThongTinLienLac">
                            <h2 class="display-6 tieude">Thông tin liên lạc</h2>
                            <div class="noidung">
                                <p>Gọi mua hàng: <a class="hotline" href="">1900.0902</a> <small>(1000đ/phút)</small> - <a href=""><b>0962.6118.692</b></a></p>
                                <p>Khiếu nại, góp ý: <a href=""><b>028.7106.6123</b></a> </p>
                                <p>Thời gian phục vụ: <i><b>8h - 22h</b></i></p>
                                <p>Email: <i>cskh@khongcomail.com.vn</i></p>
                            </div>
                        </div>
                        <div class="col-sm-3 ThongTinHoTro">
                            <h2 class="display-6 tieude">Thông tin hỗ trợ</h2>
                            <div class="noidung">
                                <a href="">Liên hệ quảng cáo</a>
                                <a href="">Tuyển dụng</a>
                                <a href="">Mua hàng online</a>
                                <a href="">Sửa chữa dịch vụ</a>
                                <a href="">Mua hàng trả góp</a>
                                <a href="">Bán hàng doanh nghiệp</a>
                            </div>
                        </div>
                        <div class="col-sm-5 HeThongCuaHang">
                            <h2 class="display-6 tieude">Hệ thống cửa hàng trên toàn quốc</h2>
                            <b class="" style="font-size: 18px;
						padding-bottom: 5px;display: block;">Khu vực</b>
                            <select class="form-control" name="" id="">
                                <option value="hochiminh">Hồ Chí Minh</option>
                                <option value="hanoi">Hà Nội</option>
                            </select>

                            <select class="heThongCuaHang form-control" name="" id="">
                                <option value="">Xem hệ thống của hàng bán lẻ của Digital San</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div> <!-- end footerTop -->

            <div class="row footerBottom">
                <div class="col-sm-12 text-sm-center">
                    <small> © 2018. Công ty cổ phần Thế Giới Di Động. GPDKKD: 0303217354 do sở KH & ĐT TP.HCM cấp ngày 02/01/2007. GP số 56/GP-TTDT do Sở TTTT TP HCM cấp ngày 30/07/2018. Địa chỉ: 128 Trần Quang Khải, P. Tân Định, Q.1, TP.Hồ Chí Minh. Điện thoại: 18001060. Email: cskh@thegioididong.com. Chịu trách nhiệm nội dung: Trần Nhật Linh. Xem chính sách sử dụng web</small>
                </div> <!-- end col -->
            </div> <!-- end footerBottom -->
        </div><!--  end container-fluid -->
    </footer>
</div> <!-- end footer -->