@model KD.Models.DanhMucSanPham

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DanhMucSanPham</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt class ="LbDn">
            @Html.DisplayNameFor(model => model.TenDanhMucSanPham)
        </dt>

        <dd class="LbDn">
            @Html.DisplayFor(model => model.TenDanhMucSanPham)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdDanhMucSanPham }) |
    @Html.ActionLink("Back to List", "Index")
</p>
